body {
    background-color: #343A40;
}
.main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    width: 100px;
}
.footer-logo {
    width: 60px;
}
.navbar-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pholio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    border: 2px solid transparent;
}
.card:hover {
    border: 2px solid rgba(52, 58, 64, 0.8);
}
.card img {
    width: 300px;
}
.navbar-light .navbar-nav .nav-link {
    cursor: pointer;
}